= semantic_form_for [@lot, @comment] do |f|
    = f.input :commenter
    = f.input :body, :input_html => {:rows => 5, :maxlength => 30 }
    = f.input :lot_id, value: @lot.id, as: :hidden
    = f.action :submit, :as => :button, label: 'Опубликовать комментарий', :button_html => { :class => "btn btn-primary"}
