= semantic_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  = f.inputs do
    - hint = "для организаторов, данные не публикуются"
    = f.input :username,    label: 'Имя на сайте'
    = f.input :name,        label: 'Ваше имя',           :hint => hint
    = f.input :surname,     label: 'Ваша фамилия',       :hint => hint
    = f.input :middlename,  label: 'Ваше отчество',      :hint => hint
    = f.input :phonenumber, label: 'Контактный телефон', :hint => hint, :as => :string
    = f.input :email,       label: 'Ваш имейл',          :hint => 'для уведомлений'
    = f.input :urlphoto,    label: 'Ваше фото'
    = f.input :slogan,      label: 'Ваш девиз'
    = f.input :password,    :include_blank => false
    - unless user_signed_in?
      = f.input :uid, :as => 'hidden', :input_html => { :value => session["devise.vkontakte_data"]["uid"]}
      = f.input :url, :as => 'hidden', :input_html => { :value => session["devise.vkontakte_data"]["info"]["urls"]["Vkontakte"]}
    = f.select :gender, [["Male", false], ["Female", true]], label: 'Ваш пол'
    
  = f.action :submit, :as => 'button', label: 'Сохранить'


