%h1 Listing users

%table
  %tr
    %th Gender
    %th Username
    %th Nickname
    %th Provider
    %th Surname
    %th Name
    %th Middlename
    %th Phonenumber
    %th Email
    %th Urlprofile
    %th Urlphoto
    %th Slogan
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.gender
      %td= user.username
      %td= user.nickname
      %td= user.provider
      %td= user.surname
      %td= user.name
      %td= user.middlename
      %td= user.phonenumber
      %td= user.email
      %td= user.urlprofile
      %td= user.urlphoto
      %td= user.slogan
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
