%p#notice= notice

%p
  %b Gender:
  = @user.gender
%p
  %b Username:
  = @user.username
%p
  %b Surname:
  = @user.surname
%p
  %b Name:
  = @user.name
%p
  %b Middlename:
  = @user.middlename
%p
  %b Phonenumber:
  = @user.phonenumber
%p
  %b Email:
  = @user.email
%p
  %b Urlprofile:
  = @user.url
%p
  %b Urlphoto:
  = @user.urlphoto
%p
  %b Slogan:
  = @user.slogan

= link_to 'Back', root_path
