.single-lot
  %h1
    = @lot.name
    = link_to_vk @lot
  .slogan= @lot.slogan
  .photo_and_bets
    = link_to @lot.prev, class: 'arrow' do
      %i.icon-chevron-left
    .photo= image_tag @lot.photo_big
    
    .bets
      = render 'bets/form'
      %ul
        -if @lot.current_bet.present?
          .current= render partial: 'bets/bet', object: @lot.current_bet
          = render partial: 'bets/bet', collection: @lot.prev_bets
    
    = link_to @lot.next, class: 'arrow' do
      %i.icon-chevron-right
 
  .comments
    %h2 Comments
    = render @lot.comments

    %h2 Add a comment:
    = render 'comments/form'
    / %ul
    /   -if @lot.current_comment.present?
    /     .current= render partial: 'comments/comment', object: @lot.current_comment
    /     = render partial: 'comments/comment', collection: @lot.prev_comments


  = link_to 'К списку лотов', (@lot.male? ? men_path : women_path )

