.single-lot
  %h1
    = @lot.name
    = link_to_vk @lot
  .slogan= @lot.slogan
  .photo_and_bets
    = link_to @lot.prev, class: 'arrow' do
      %i.icon-chevron-left
    .photo= image_tag @lot.photo_big
    .bets
      = render 'bets/form'
      %ul
        -if @lot.current_bet.present?
          .current= render partial: 'bets/bet', object: @lot.current_bet
          = render partial: 'bets/bet', collection: @lot.prev_bets
    = link_to @lot.next, class: 'arrow' do
      %i.icon-chevron-right

.comments  

  %h2 Comments
  - @lot.comments.each do |comment|
    %p
      %strong Commenter:
      = comment.commenter
    %p
      %strong Comment:
      = comment.body

  %h2 Добавить коммент:
  = form_for([@lot, @lot.comments.build]) do |f|
    %p
      = f.label :commenter
      %br/
      = f.text_field :commenter
    %p
      = f.label :body
      %br/
      = f.text_area :body
    %p
      = f.submit


  = link_to 'К списку лотов', (@lot.male? ? men_path : women_path )

