!!!
%html
  %head
    %title Купи Прогулку
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        - if current_user
          Signed in as #{current_user.uid}!
          \#{link_to "Sign out", sign_out_path}
        - else
          = link_to (image_tag('vk20.png')+'ойти'), '/auth/vkontakte'
    .container
      = bootstrap_flash
      = yield